<%- include('partials/header') %>
<div class="container mt-5">
    <h3>Modify</h3>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">

                    <!-- Makes POST request to /modify route -->
                    <form action="/modify" method="POST">
                        <input type="hidden" name="personID" value="<%=id%>" />
                        <div class="form-group">
                            <label for="fname">Name:<%=fname%> <%=lname%></label>
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth:<%=dob%> (<%=age%> Years)</label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="streetName">Street Name:</label>
                                <input type="text" class="form-control" name="streetName" value="<%=streetName%>"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" name="city" value="<%=city%>" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State:</label>
                                <input type="text" class="form-control" name="state" value="<%=state%>" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="pinCode">Pin Code:</label>
                                <input type="text" class="form-control" minlength="6" maxlength="6" name="pinCode"
                                    value="<%=pinCode%>" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phoneNumber">Phone:</label>
                                <input type="text" class="form-control" minlength="10" maxlength="10" name="phoneNumber"
                                    value="<%=phoneNumber%>" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" value="<%=email%>">
                            </div>
                        </div>
                        <!-- Insurance Details-->

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="providerName">Insurance Provider:</label>
                                <input type="text" class="form-control" name="providerName" value="<%=providerName%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="providerPhoneNum">Provider Phone:</label>
                                <input type="text" class="form-control" minlength="10" maxlength="10"
                                    name="providerPhoneNum" value="<%=providerPhone%>">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="groupNum">Group#:</label>
                                <input type="text" class="form-control" minlength="6" maxlength="6" name="groupNum"
                                    value="<%=groupNum%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="policyNum">Policy#:</label>
                                <input type="text" class="form-control" name="policyNum" value="<%=policyNum%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="effectiveFrom">Effective From:</label>
                                <input type="date" class="form-control" name="effectiveFrom" value="<%=effFrom%>">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                <a class="btn btn-primary btn-sm" href="/office" role="button">Cancel</a>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>