<%- include('partials/header') %>
<div class="container mt-5">
    <h3>Search</h3>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class='container'>
                    <!-- Makes POST request to /search route -->
                    <form class="form-inline" action="/search" method="POST"> 
                        <div class="form-group mx-sm-3 mb-2">                            
                            <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                          </div>     
                          <div class="form-group mx-sm-3 mb-2">
                            <input type="date" class="form-control" name="dob" placeholder="Date of Birth" required>
                          </div>  
                          <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" required>
                        </div>          
                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                    </form>
                    <br><br>                   
                    <table class="table table-sm">
                        <thead>
                          <tr>                            
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone#</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% personsDetail.forEach(function(person){ %>
                                <tr>
                                    <td><%=person.fname%></td>
                                    <td><%=person.lname%></td>                                    
                                    <td><%=person.phoneNumber%></td>
                                    <td><a class="btn btn-primary btn-sm" href="/view/<%= person._id %>" role="button">View</a>
                                      <a class="btn btn-primary btn-sm" href="/edit/<%= person._id %>" role="button">Edit</a>
                                      <!--<a class="btn btn-primary btn-sm" href="/delete/<%= person._id %>" role="button">Delete</a>-->
                                      </td>
                                  </tr>  
                              <% }) %>  
                                                  
                        </tbody>
                      </table>

               </div>
            </div>
        </div> 
    </div>
    </div>
    <div id="delete" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
    
 </body>